absl-py==1.4.0
accelerate==1.0.1
addict==2.4.0
aim==3.17.5
aim-ui==3.17.5
aimrecords==0.0.7
aimrocks==0.4.0
aiofiles==23.2.1
albumentations==1.3.1
alembic==1.11.2
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
annotated-types==0.7.0
ansi2html==1.8.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
apex @ file:///qcraft-vepfs-01/Perception/perception-users/lishi/apex
appdirs==1.4.4
argcomplete==3.6.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astor==0.8.1
astroid==2.15.6
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
base58==2.0.1
beautifulsoup4==4.12.2
black==23.7.0
bleach==6.0.0
blessed==1.38.0
braceexpand==0.1.7
cachetools==5.3.1
ccimport==0.4.4
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
cmake==3.27.2
colorama==0.4.6
colored==1.4.4
coloredlogs==15.0.1
colorlog==6.10.1
comm==0.1.4
ConfigArgParse==1.7
contourpy==1.1.1
coverage==7.3.0
crcmod==1.7
cryptography==41.0.3
-e git+https://github.com/MrPicklesGG/SparseWorld-TC.git@ede14c180cfd0edc1a43744eb0ad34d8c9d2815b#egg=csrc&subdirectory=models/csrc
cumm==0.4.11
cycler==0.11.0
dash==2.12.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DCNv4==1.0.0.post2
debugpy==1.6.7.post1
decorator==5.1.1
decord==0.6.0
defusedxml==0.7.1
descartes==1.1.0
diffusers==0.36.0
dill==0.3.7
distlib==0.3.7
docker-pycreds==0.4.0
docstring_parser==0.18.0
easydict==1.10
einops==0.8.1
embreex==2.17.7.post7
eval_type_backport==0.3.1
evo==1.27.1
exceptiongroup==1.1.3
executing==1.2.0
fastapi==0.101.1
fastjsonschema==2.18.0
filelock==3.12.2
fire==0.5.0
flake8==6.1.0
Flask==2.2.5
flatbuffers==23.5.26
flow-vis==0.1
fonttools==4.42.0
fqdn==1.5.1
fsspec==2023.6.0
fvcore==0.1.5.post20221221
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
gpustat==1.1.1
graphviz==0.8.4
greenlet==2.0.2
grpcio==1.57.0
h11==0.14.0
hbdk @ file:///opt/miniconda3/envs/python38/lib/python3.8/site-packages/horizon_plugin_pytorch/hbdk-3.48.7-py3-none-any.whl#sha256=f4eb7a03fecadedf4eaec3fa4b5b4dd6e6e60849dbba9afc55ce4d33ce3d4e0f
hf-xet==1.4.3
horizon-plugin-pytorch @ file:///lpai/volumes/ad-qcraft-vol-ga/users/perception-occformer/lib/horizon_plugin_pytorch-100.63.8-py3-none-any.whl#sha256=e5ca72a3715957ab560dd62085d55fceea628c93e4070f2308822bc6d17f0c45
httpcore==1.0.1
httpx==0.25.1
huggingface_hub==0.36.2
humanfriendly==10.0
hydra-core==1.3.2
identify==2.5.26
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
imutils==0.5.4
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.25.1
ipython==8.12.2
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
json5==0.9.14
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kiwisolver==1.4.4
lark==1.3.1
lazy-object-proxy==1.9.0
lazy_loader==0.3
lightgbm==4.0.0
lightning-utilities==0.11.9
line-profiler==4.0.3
lit==16.0.6
llvmlite==0.40.1
lmdb==1.4.1
loguru==0.7.0
lxml==6.1.0
lyft-dataset-sdk==0.0.8
lz4==4.3.3
Mako==1.2.4
mapbox-earcut==1.0.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.2
matplotlib-inline==0.1.6
mc.py==3.1.1
mccabe==0.7.0
mdurl==0.1.2
mistune==2.0.5
mmcls==0.25.0
-e git+https://github.com/open-mmlab/mmcv@4e85793e58fb220ed91be8c075396b16a385f349#egg=mmcv_full
mmdet==2.28.2
-e git+https://wuyuan2002:682f862105b376ed9488f175e3277f69@gitee.com/wuyuan2002/height-occ.git@5480129abf5023c93f959a50489c054ea3d14721#egg=mmdet3d
mmengine==0.10.3
mmsegmentation==0.30.0
model-index==0.1.11
monotonic==1.6
motmetrics==1.4.0
mpmath==1.3.0
msgspec==0.18.6
mxnet==1.6.0
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.5.0
nest-asyncio==1.5.7
networkx==3.1
ninja==1.13.0
nodeenv==1.8.0
notebook==7.0.2
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.8.6
numpy==1.23.4
nuscenes-devkit==1.1.10
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==13.595.45
nvidia-nccl-cu11==2.15.5
nvidia-nvtx-cu11==11.7.91
nvidia-pyindex==1.0.9
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.14.0
onnx-graphsurgeon==0.3.27
onnx-simplifier==0.4.33
onnxoptimizer==0.3.13
onnxruntime==1.15.1
open3d==0.16.0
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
opendatalab==0.0.10
openmim==0.3.9
openvino==2023.0.1
openxlab==0.0.17
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.4
oss2==2.17.0
overrides==7.4.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.2
pathtools==0.1.2
pccm==0.4.16
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pipdeptree==2.13.0
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
plotly==5.16.0
pluggy==1.2.0
plyfile==1.0.3
polygraphy==0.47.1
pooch==1.8.2
portalocker==3.0.0
pre-commit==3.3.3
pretty-errors==1.2.25
prettytable==3.8.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-lz4framed==0.14.0
py-spy==0.3.14
py3nvml==0.2.7
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==3.0.3
pycocotools==2.0.7
pycodestyle==2.11.0
pycollada==0.9.3
pycparser==2.21
pycryptodome==3.18.0
pycuda==2022.2.2
pydantic==2.10.6
pydantic_core==2.27.2
pyflakes==3.1.0
Pygments==2.16.1
pylint==2.17.5
pyparsing==3.1.1
pypcd4==1.3.0
pyquaternion==0.9.9
pyransac3d==0.6.0
pytest==7.4.0
python-dateutil==2.8.2
python-json-logger==2.0.7
python-lzf==0.2.6
pytools==2023.1.1
PyTurboJPEG @ git+https://github.com/lilohuang/PyTurboJPEG.git@c9a4973ab48e1e3d421881f76d8b1b2a22669fd2
pytz==2023.3
pyvista==0.44.2
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.3
QtPy==2.3.1
qudida==0.0.4
referencing==0.30.2
regex==2024.11.6
requests==2.28.2
requests-oauthlib==1.3.1
RestrictedPython==6.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rosbags==0.9.23
rpds-py==0.9.2
rsa==4.9
Rtree==1.3.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.8
safetensors==0.5.3
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
scooby==0.10.1
seaborn==0.12.2
segment-analytics-python==2.2.3
Send2Trash==1.8.2
sentry-sdk==1.29.2
setproctitle==1.3.2
Shapely==1.8.5
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
spconv==2.3.6
SQLAlchemy==1.4.49
stack-data==0.6.2
starlette==0.27.0
svg.path==7.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
terminado==0.17.1
terminaltables==3.1.10
texttable==1.6.7
threadpoolctl==3.2.0
tifffile==2023.7.10
timm==0.9.5
tinycss2==1.2.1
tokenizers==0.20.3
tomli==2.0.1
tomlkit==0.12.1
torch==2.0.1+cu118
torch-tb-profiler==0.4.1
torchaudio==2.0.2+cu118
torchmetrics==1.5.2
torchvision==0.15.2+cu118
tornado==6.3.3
tqdm==4.65.2
traitlets==5.9.0
transformers==4.46.3
trimesh==3.23.1
triton==2.0.0
typeguard==4.4.0
typing_extensions==4.13.2
tyro==1.0.13
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.16
uvicorn==0.23.2
virtualenv==20.24.3
viser==0.2.23
vtk==9.3.1
wandb==0.15.8
wcwidth==0.6.0
webcolors==1.13
webdataset==0.2.48
webencodings==0.5.1
websocket-client==1.6.1
websockets==13.1
Werkzeug==2.2.3
widgetsnbextension==4.0.8
wrapt==1.15.0
xmltodict==0.13.0
xxhash==3.6.0
yacs==0.1.8
yapf==0.40.2
yourdfpy==0.0.60
zipp==3.16.2
zstandard==0.23.0
